ItemDef(
    name: "Cultist Slayer Mantle",
    description: "For light and honor.",
   kind: Armor((
        kind: Back("CultistSlayer"),
        stats: (
            protection: Normal(3.0),
            poise_resilience: Normal(1.0),
        ),
    )),
    quality: Epic,
    tags: [],
)