ItemDef(
    name: "Righteous Champion Harness",
    description: "For light and honor.",
    kind: Armor((
        kind: Chest("CultistSlayer"),
        stats: (
            protection: Normal(34.0),
            poise_resilience: Normal(1.4),
        ),
    )),
    quality: Epic,
    tags: [],
)
