ItemDef(
    name: "Cultist Slayer Gloves",
    description: "For light and honor.",
    kind: Armor((
        kind: Hand("CultistSlayer"),
        stats: (
            protection: Normal(12.0),
            poise_resilience: Normal(8.0),
        ),
    )),
    quality: Epic,
    tags: [],
)
