ItemDef(
    name: "Righteous Champion Gauntlets",
   description: "For light and honor.",
    kind: Armor((
        kind: Pants("CultistSlayer"),
        stats: (
            protection: Normal(28.0),
            poise_resilience: Normal(1.4),
        ),
    )),
    quality: Epic,
    tags: [],
)
