ItemDef(
    name: "Righteous Champion Pauldrons",
    description: "For light and honor.",
    kind: Armor((
        kind: Shoulder("CultistSlayer"),
        stats: (
            protection: Normal(22.0),
            poise_resilience: Normal(1.5),
        ),
    )),
    quality: Epic,
    tags: [],
)
