ItemDef(
    name: "Cultist Mantle",
    description: "Ceremonial attire used by members.\n\nWearing cultist armor might frighten and anger villagers.",
    kind: Armor((
        kind: Shoulder("Cultist"),
        stats: (
            protection: Normal(18.0),
            poise_resilience: Normal(1.0),
        ),
    )),
    quality: Epic,
    tags: [Cultist],
)
