ItemDef(
    name: "Purple Geode",
    description: "Emits a calming glow",
    kind: Lantern(
        (
            kind: "GeodePurp",
            color: (r: 200, g: 26, b: 255),
            strength_thousandths: 8000,
            flicker_thousandths: 600,
        ),
    ),
    quality: High,
    tags: [Utility],
)
