SpriteBehaviorManifest(
    collectible_id: {
        Apple: Item("common.items.food.apple"),
        Mushroom: Item("common.items.food.mushroom"),
        CaveMushroom: Item("common.items.food.mushroom"),
        Velorite: Item("common.items.ore.velorite"),
        VeloriteFrag: Item("common.items.ore.veloritefrag"),
        //BlueFlower: Item("common.items.flowers.blue"),
        //PinkFlower: Item("common.items.flowers.pink"),
        //PurpleFlower: Item("common.items.flowers.purple"),
        RedFlower: Item("common.items.flowers.red"),
        //WhiteFlower: Item("common.items.flowers.white"),
        //YellowFlower: Item("common.items.flowers.yellow"),
        Sunflower: Item("common.items.flowers.sunflower"),
        // TODO: uncomment the following after plant growth is implemented
        //Tomato: Item("common.items.food.tomato"),
        //Cabbage: Item("common.items.food.lettuce"),
        //Carrot: Item("common.items.food.carrot"),
        //Corn: Item("common.items.food.corn"),
        //Garlic: Item("common.items.food.garlic"),
        //Onion: Item("common.items.food.onion"),
        //Turnip: Item("common.items.food.turnip"),
        //Radish: Item("common.items.food.radish"),
        //Blueberry: Item("common.items.food.blueberries"),
        //Pumpkin: Item("common.items.food.pumpkin"),
        //WheatYellow: Item("common.items.crafting_ing.wheat"),
        //WheatGreen: Item("common.items.crafting_ing.wheat"),

        //Flax: Item("common.items.crafting_ing.flax"),
        //LongGrass: Item("common.items.grasses.long"),
        //MediumGrass: Item("common.items.grasses.medium"),
        //ShortGrass: Item("common.items.grasses.short"),
        Coconut: Item("common.items.food.coconut"),

        Beehive: Item("common.items.crafting_ing.honey"),
        Stones: Item("common.items.crafting_ing.stones"),
        Twigs: Item("common.items.crafting_ing.twigs"),
        VialEmpty: Item("common.items.crafting_ing.empty_vial"),
        Bowl: Item("common.items.crafting_ing.bowl"),
        PotionMinor: Item("common.items.consumable.potion_minor"),
        Amethyst: Item("common.items.crafting_ing.amethyst"),
        Ruby: Item("common.items.crafting_ing.ruby"),
        Diamond: Item("common.items.crafting_ing.diamond"),
        Sapphire: Item("common.items.crafting_ing.sapphire"),
        Topaz: Item("common.items.crafting_ing.topaz"),
        Emerald: Item("common.items.crafting_ing.emerald"),
        AmethystSmall: Item("common.items.crafting_ing.amethyst"),
        TopazSmall: Item("common.items.crafting_ing.topaz"),
        DiamondSmall: Item("common.items.crafting_ing.diamond"),
        RubySmall: Item("common.items.crafting_ing.ruby"),
        EmeraldSmall: Item("common.items.crafting_ing.emerald"),
        SapphireSmall: Item("common.items.crafting_ing.sapphire"),
        Seashells: Item("common.items.crafting_ing.seashells"),

        Chest: LootTable("common.loot_tables.sprite.chest"),
        ChestBuried: LootTable("common.loot_tables.sprite.chest-buried"),
        Mud: LootTable("common.loot_tables.sprite.mud"),
        Crate: LootTable("common.loot_tables.sprite.crate"),
    },
    growth_specs: {
        RedFlower: GrowthSpec(start_growth: 0, max_growth: 16, days_per_growth: 0.0625),
        Sunflower: GrowthSpec(start_growth: 0, max_growth: 16, days_per_growth: 0.0625),
        Tomato: GrowthSpec(start_growth: 0, max_growth: 16, days_per_growth: 0.0625),
        Cabbage: GrowthSpec(start_growth: 0, max_growth: 16, days_per_growth: 0.0625),
        Carrot: GrowthSpec(start_growth: 0, max_growth: 16, days_per_growth: 0.0625),
        Corn: GrowthSpec(start_growth: 0, max_growth: 16, days_per_growth: 0.0625),
        Garlic: GrowthSpec(start_growth: 0, max_growth: 16, days_per_growth: 0.0625),
        Onion: GrowthSpec(start_growth: 0, max_growth: 16, days_per_growth: 0.0625),
        Turnip: GrowthSpec(start_growth: 0, max_growth: 16, days_per_growth: 0.0625),
        Radish: GrowthSpec(start_growth: 0, max_growth: 16, days_per_growth: 0.0625),
        Blueberry: GrowthSpec(start_growth: 0, max_growth: 16, days_per_growth: 0.0625),
        Pumpkin: GrowthSpec(start_growth: 0, max_growth: 16, days_per_growth: 0.0625),
        WheatYellow: GrowthSpec(start_growth: 0, max_growth: 16, days_per_growth: 0.0625),
        WheatGreen: GrowthSpec(start_growth: 0, max_growth: 16, days_per_growth: 0.0625),
        Flax: GrowthSpec(start_growth: 0, max_growth: 16, days_per_growth: 0.0625),
    },
)
