SpriteBehaviorManifest(
    solid_height: {
        // Beware: the height *must* be <= `MAX_HEIGHT` or the collision system will not
        // properly detect it!
        Tomato: 1.65,
        LargeCactus: 2.5,
        Scarecrow: 3.0,
        Turnip: 0.36,
        Pumpkin: 0.81,
        Cabbage: 0.45,
        Chest: 1.09,
        StreetLamp: 2.65,
        Carrot: 0.18,
        Radish: 0.18,
        FireBowlGround: 0.55,
        // TODO: Uncomment this when we have a way to open doors
        // Door: 3.0,
        Bed: 1.54,
        Bench: 0.5,
        ChairSingle: 0.5,
        ChairDouble: 0.5,
        CoatRack: 2.36,
        Crate: 0.90,
        DrawerSmall: 1.0,
        DrawerMedium: 2.0,
        DrawerLarge: 2.0,
        DungeonWallDecor: 1.0,
        Planter: 1.09,
        TableSide: 1.27,
        TableDining: 1.45,
        TableDouble: 1.45,
        WardrobeSingle: 3.0,
        WardrobeDouble: 3.0,
        Pot: 0.90,
        Mud: 0.36,
        ChestBuried: 0.91,
        StonyCoral: 1.4,
        // TODO: Find suitable heights.
        BarrelCactus: 1.0,
        RoundCactus: 1.0,
        ShortCactus: 1.0,
        MedFlatCactus: 1.0,
        ShortFlatCactus: 1.0,
        Apple: 1.0,
        Velorite: 1.0,
        VeloriteFrag: 1.0,
        Coconut: 1.0,
        StreetLampTall: 1.0,
        Window1: 1.0,
        Window2: 1.0,
        Window3: 1.0,
        Window4: 1.0,
        DropGate: 1.0,
        // TODO: Figure out if this should be solid or not.
        Shelf: 1.0,
        Lantern: 0.9,
        CraftingBench: 1.18,
        Forge: 2.7,
        Cauldron: 1.27,
        Anvil: 1.1,
        CookingPot: 1.36,
    },
    collectible_id: {
        Apple: Item("common.items.food.apple"),
        Mushroom: Item("common.items.food.mushroom"),
        CaveMushroom: Item("common.items.food.mushroom"),
        Velorite: Item("common.items.ore.velorite"),
        VeloriteFrag: Item("common.items.ore.veloritefrag"),
        //BlueFlower: Item("common.items.flowers.blue"),
        //PinkFlower: Item("common.items.flowers.pink"),
        //PurpleFlower: Item("common.items.flowers.purple"),
        RedFlower: Item("common.items.flowers.red"),
        //WhiteFlower: Item("common.items.flowers.white"),
        //YellowFlower: Item("common.items.flowers.yellow"),
        Sunflower: Item("common.items.flowers.sunflower"),
        Tomato: Item("common.items.food.tomato"),
        Cabbage: Item("common.items.food.lettuce"),
        Carrot: Item("common.items.food.carrot"),
        Corn: Item("common.items.food.corn"),
        Garlic: Item("common.items.food.garlic"),
        Onion: Item("common.items.food.onion"),
        Turnip: Item("common.items.food.turnip"),
        Radish: Item("common.items.food.radish"),
        Blueberry: Item("common.items.food.blueberries"),
        Pumpkin: Item("common.items.food.pumpkin"),
        WheatYellow: Item("common.items.crafting_ing.wheat"),
        WheatGreen: Item("common.items.crafting_ing.wheat"),
        Flax: Item("common.items.crafting_ing.flax"),
        //LongGrass: Item("common.items.grasses.long"),
        //MediumGrass: Item("common.items.grasses.medium"),
        //ShortGrass: Item("common.items.grasses.short"),
        Coconut: Item("common.items.food.coconut"),

        Beehive: Item("common.items.crafting_ing.honey"),
        Stones: Item("common.items.crafting_ing.stones"),
        Twigs: Item("common.items.crafting_ing.twigs"),
        VialEmpty: Item("common.items.crafting_ing.empty_vial"),
        Bowl: Item("common.items.crafting_ing.bowl"),
        PotionMinor: Item("common.items.consumable.potion_minor"),
        Amethyst: Item("common.items.crafting_ing.amethyst"),
        Ruby: Item("common.items.crafting_ing.ruby"),
        Diamond: Item("common.items.crafting_ing.diamond"),
        Sapphire: Item("common.items.crafting_ing.sapphire"),
        Topaz: Item("common.items.crafting_ing.topaz"),
        Emerald: Item("common.items.crafting_ing.emerald"),
        AmethystSmall: Item("common.items.crafting_ing.amethyst"),
        TopazSmall: Item("common.items.crafting_ing.topaz"),
        DiamondSmall: Item("common.items.crafting_ing.diamond"),
        RubySmall: Item("common.items.crafting_ing.ruby"),
        EmeraldSmall: Item("common.items.crafting_ing.emerald"),
        SapphireSmall: Item("common.items.crafting_ing.sapphire"),
        Seashells: Item("common.items.crafting_ing.seashells"),

        Chest: LootTable("common.loot_tables.sprite.chest"),
        ChestBuried: LootTable("common.loot_tables.sprite.chest-buried"),
        Mud: LootTable("common.loot_tables.sprite.mud"),
        Crate: LootTable("common.loot_tables.sprite.crate"),
    },
)
