[
    (15, Velorite),
    (12, VeloriteFrag),
    (10, CaveMushroom),
    (30, Mushroom),
    (8, AmethystSmall),
    (8, TopazSmall),
    (12, SapphireSmall),
    (60, CrystalLow),
    (8, EmeraldSmall),
    (3, Cobalt),
    (20, Coal),
    (40, Iron),
    (5, RubySmall),
]
