[
    (110, Stones),
    (150, ShortGrass),
    (35, CaveMushroom),
    (35, Mushroom),
    (15, AmethystSmall),
    (12, TopazSmall),
    (10, Tin),
    (10, Copper),
    (7, Iron),
    (5, Chest),
    (15, Crate),
]
